@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes flip {
  0% {
    transform: perspective(600px) rotateY(0deg);
    
  }
    50% {
    transform: perspective(600px) rotateY(180deg);
    
    }  
  100% {
    transform: perspective(600px) rotateY(360deg);

  }
}

@keyframes destaque {
  0%{
    color:white;
    transform: scale(1);
     
  }
  50%{ 
    color:var(--accent);
    transform: scale(1.2)
  }
  100%{ 
    color:white;
    transform: scale(1)
  }
}

@keyframes fadeLoop {
    0% { opacity: 0; }
    5% { opacity: 1; }   /* Fade in suave */
    33% { opacity: 1; }  /* Fica totalmente visível */
    38% { opacity: 0; }  /* Fade out enquanto o próximo entra */
    100% { opacity: 0; } /* Espera o ciclo terminar */
}

@keyframes slide {
  0% 
  { 
    transform: translateX(100vw);
    filter: saturate(0);
    
  }

  30%{
    transform: translateX(0);
    filter: saturate(1.3);
  }


  70%{
    transform: translateX(0);
    filter: saturate(1.3);
  }
  
  
  100% 
  { 
    filter: saturate(0);
    transform: translateX(-100vw);
  }

}

@keyframes change {
  0% {
    margin-left:60%;
      align-content: end;
    
  }
  100% {
    margin-left:0%;
      align-content: start;
  }
  
}

@keyframes nav {
  0% {
        transform: translate(30vh, 15vh) scale(1.5);
  }

  25% {
    transform: translate(30vh, -15vh) scale(1.5);
  }

  75% {
    transform: translate(-30vh, -15vh) scale(1.5);
  }

  100% {
    transform: translate(-30vh, 15vh) scale(1.5);
  }
}

 @keyframes pulsaLuzDireita {
  0% { transform: translate(0, 0) scale(1); opacity: 0.15; }
  100% { transform: translate(-100px, 50px) scale(1.3); opacity: 0.3; }
}

@keyframes pulsaLuzEsquerda {
  0% { transform: translate(0, 0) scale(1); opacity: 0.15; }
  100% { transform: translate(80px, -50px) scale(1.2); opacity: 0.25; }
}

html {
  scroll-behavior: smooth;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}



