/* MÓDULO 03 & 04 - LAYOUT HÍBRIDO E RESPONSIVIDADE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    border-color: var(--glass-border);
}

section, article, div, aside {
    border-radius:1vh;
    align-content: center;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-backdrop);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  var(--text-dim);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


div, fieldset{
    border-radius: 0.5vh;
}

body , html{
    min-height: 100%;
    width: 100%;
    background: linear-gradient(72deg, var(--bg-dark),var(--accent));
    color: var(--text-main);
    font-family: var(--font-sans);
    background-attachment: fixed;
    overflow-x: hidden;
}





fieldset{
    padding: 1vh;
    position: relative;
        border-color: var(--text-bright);
}

fieldset legend{
    padding: 1vh;
    border-style: solid;
}

footer{
 position: fixed;
    place-items: end;
    background-blend-mode: color;
    background: var(--bg-backdrop);
    width: 100%;
    padding: 1em;
    bottom: 0;
}

footer p{
    color: var(--text-dim);
    font-size: 0.8rem;
    background: var(--bg-backdrop);
    width: 100%;
    display: block;
    padding: 1rem 1.5rem;
    margin: 0;
}

/* PESQUISA: SCROLL SNAP & STICKY */
html , body{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: auto;
}

section {
    /*scroll-snap-align: start;*/
}

