@import url(layout.css);
@import url(components.css);
@import url(buttons.css);
@import url(variables.css);
@import url(animations.css);
@import url("flex.css");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.backgrad{
        background: linear-gradient(1deg, var(--bg-dark), var(--accent), var(--bg-dark));
}

a{
  font-size:1rem;
}

.span{
    font-size: 1.3em;;
}

label{
  transition: all 0.5s;
}

label:hover, label:focus{
  cursor: pointer;
  color: var(--accent);

  transition: all 0.5s;
}

.vscode-hud {
  
  background-color: var(--shadow-strong);
      font-size: 0.8em;
  font-family: 'Fira Code', Consolas, monospace;

  color: var(--accent-alt);            /* Texto padrão */

  border-radius: 4px;
      box-shadow: 1px 2px 4px 0px var(--shadow-strong);
  /*border: 1px solid #3c3c3c;*/

  
}   

/* Cores de Sintaxe Oficiais */
.keyword  { color: #569cd6; } /* Azul (const, let, return) */
.variable { color: #9cdcfe; } /* Azul claro (nomes de variáveis) */
.number   { color: #b5cea8; } /* Verde claro (números) */
.string   { color: #78acce; } /* Laranja (strings) */
.comment  { color: #6a9955; } /* Verde (comentários) */
.text-bright{color: var(--text-bright); }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


a:-webkit-any-link {
  color:unset ;
  text-decoration: none !important;
}

 /* 1. O painel simulando o fundo do VS Code */
    code {
      display: inline-block;
          filter: contrast(1.5);
      background-color: var(--glass-border);
      color: var(--text-dim); /* Cor padrão do texto */
      font-family: Consolas, 'Courier New', monospace;
      font-size: 14px;
      line-height: 1.6;
      padding: 16px;
    }

    /* 2. Reset e indentação automática usando a semântica do <dd> */
    dl, dd { margin: 0; padding: 0; }
    dd { padding-left: 20px; }       /* Nível 1 de indentação */
    dd dd { padding-left: 40px; }    /* Nível 2 de indentação se houver */

    /* 3. O "Hack" de cores do VS Code via seletores de classe */
    /* Cores das Tags */
    .tag { color: #569cd6; }       /* Azul para div, button, etc */
    .sinal { color: #808080; }     /* Cinza para <, >, /, = */
    
    /* Cores dos Atributos */
    .attr { color: #9cdcfe; }      /* Azul claro para id, class, type */
    .val { color: #ce9178; }  

    .janela-ajustavel {
      height: fit-content;
      width: 100%;
      margin: 0; /* Centraliza a janela */
      resize: both; /* Permite que o usuário redimensione */
      overflow: auto; /* Necessário para o resize funcionar */
  }